<article>
  <p id="about-me"></p>
  <h1>Welcome to my Github page!</h1>
  <h2>Introduction</h2>
  <p>
    I hold a Bachelor's degree in Electronics-ICT (Internet of Things), which I
    completed with distinction in 2025 at AP Hogeschool in Antwerp.
  </p>

  <p>
    While my education has a strong hardware foundation, I discovered that
    software development—and particularly coding—is where my true passion lies.
    I am versatile, eager to tackle diverse challenges, and always prepared to
    learn new skills.
  </p>
  <p>
    My experience spans a wide range: from full-stack development using tools
    like Angular, Java and Dot Net, to embedded systems development where I’ve
    designed PCBs and developed firmware for various microcontrollers. In
    addition, I have a solid understanding of how pointers and references work
    in C++, as well as experience with the Model-View-Controller (MVC)
    architecture. I’m also familiar with building backend APIs that follow a
    strict layered structure combined with a ports-and-adapters (hexagonal)
    architecture, ensuring a clean separation between business logic and
    external interfaces.
  </p>
  <h2>Web Skills</h2>
  <ul class="article-tags tags-green">
    <li>Angular</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Typescript</li>
  </ul>

  <h2>Programming Skills</h2>
  <ul class="article-tags tags-blue">
    <li>Bash</li>
    <li>C</li>
    <li>C#</li>
    <li>C++</li>
    <li>Java</li>
    <li>Kotlin</li>
    <li>Python</li>
    <li>VHDL</li>
  </ul>

  <h2>Others</h2>
  <ul class="article-tags tags-orange">
    <li>ASP.NET Core</li>
    <li>Azure</li>
    <li>Django</li>
    <li>Flask</li>
    <li>Github</li>
    <li>Jira</li>
    <li>Jenkins</li>
    <li>Linux</li>
    <li>Matlab</li>
    <li>MongoDB</li>
    <li>Node.js</li>
    <li>PostgreSQL</li>
    <li>Spring Boot</li>
    <li>QT</li>
    <li>.NET MAUI</li>
  </ul>

  <h2>Projects</h2>
  <p>
    Please feel free to explore the various repositories here, showcasing
    projects I've created.
  </p>
</article>
