<article id="about-me">

    <h1>Welcome to my Github page!</h1>
    <h2>Education</h2>
I hold a Bachelor's degree in Electronics-ICT (Internet of Things), which I completed with distinction in 2025 at AP Hogeschool in Antwerp.
<h2>My developer role</h2>
<p>
    While my education has a strong hardware foundation, I discovered that software development—and particularly coding—is where my true passion lies.
    As a developer, I don't believe in sticking to one technology.
    I am versatile, eager to tackle diverse challenges, and always prepared to learn new skills.
</p>
    <p>
        My experience spans a wide range: from full-stack development using tools like Angular and Java, to embedded systems development where I’ve designed PCBs and developed firmware for various microcontrollers.
        In addition, I have a solid understanding of how pointers and references work in C++, as well as experience with the Model-View-Controller (MVC) architecture.
        I’m also familiar with building backend APIs that follow a strict layered structure combined with a ports-and-adapters (hexagonal) architecture, ensuring a clean separation between business logic and external interfaces.
   </p>

<h2>Projects</h2>
<p>
    Please feel free to explore the various repositories here, showcasing projects I've created.
</p>
</article>