/* CSS van je nieuwe MenuComponent */

.main-nav {
  /* Plak het menu bovenaan vast, zodat het altijd zichtbaar is */
  position: sticky;
  top: 0;
  width: 100%;
  
  /* Leuk kleurtje (bijvoorbeeld een donkerblauw) */
  background-color: rgb(164, 114, 255); 
  z-index: 1000; /* Zorg dat het boven andere content ligt */
}

.main-nav ul {
  /* Gebruik Flexbox voor de uitlijning van de knoppen op één rij */
  display: flex;
  justify-content: flex-start; /* Knoppen aan de linkerkant */
  
  /* Standaardlijststijlen verwijderen */
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main-nav li {
  /* Stijl de knop-elementen */
  padding: 0px;
}

.main-nav li:hover {
}

.main-nav a {
  display: block;
  background: none;
  color: rgb(0, 0, 0); /* Witte tekstkleur */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  padding: 15px 10px;
}

.main-nav a:hover {
  color: rgb(255, 255, 255); /* Witte tekstkleur */
  background-color: rgb(91, 80, 235); /* Lichte hover-effect */
  border-radius: 10px 0px 10px 0px;
  border-color: white;
  border-style: 1px solid;
  transition: color 0.15s;
  transition: background-color 0.15s;

}

@media screen and (min-width: 768px) {
    .main-nav {
    /* Plak het menu bovenaan vast, zodat het altijd zichtbaar is */
    position: sticky;
    top: 0;
    width: 768px;
    margin: 0 auto;
    
    /* Leuk kleurtje (bijvoorbeeld een donkerblauw) */
    background-color: rgb(164, 114, 255); 
    z-index: 1000; /* Zorg dat het boven andere content ligt */
    }
}
